<a href="https://colab.research.google.com/github/JoseFERNAN/ML4AI/blob/main/week5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd

In [1]:
cd drive/MyDrive

/content/drive/MyDrive

In [2]:
ls

 2024_PLD_BLOCK2SCHOOL_20220916FU_2.pdf.gdoc
 blep.gsheet
'Colab Notebooks'/
'Copie de Copie de Copie de STRATEGIE CREDITS SEM5 (1).gsheet'
'Copie de Copie de Copie de STRATEGIE CREDITS SEM5 (2).gsheet'
'Copie de Copie de Copie de STRATEGIE CREDITS SEM5 (3).gsheet'
'Copie de Copie de Copie de STRATEGIE CREDITS SEM5.gsheet'
'Copy of Copie de STRATEGIE CREDITS SEM4 (1).gsheet'
'Copy of Copie de STRATEGIE CREDITS SEM4 (2).gsheet'
'Copy of Copie de STRATEGIE CREDITS SEM4.gsheet'
'Copy of credit for migo.gsheet'
 Discrete-Math-Assignment1-Jose-FERNAN.gdoc
'Document sans titre.gdoc'
'Droit Constitutionnel.pages'
 Hands-On-Data-Analysis-with-Pandas-2nd-edition/
 LAWSHIT/
'Machine Learning for AI'/
'MED NOTES'/
 MLAI/
'OLD STUFF'/

In [3]:
cd Hands-On-Data-Analysis-with-Pandas-2nd-edition/ch_03

/content/drive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/ch_03

In [4]:
ls

1-wide_vs_long.ipynb           4-reshaping_data.ipynb        exercises/
2-using_the_weather_api.ipynb  5-handling_data_issues.ipynb  README.md
3-cleaning_data.ipynb          data/

In [5]:
ls

1-wide_vs_long.ipynb           4-reshaping_data.ipynb        exercises/
2-using_the_weather_api.ipynb  5-handling_data_issues.ipynb  README.md
3-cleaning_data.ipynb          data/

In [8]:
long_df = pd.read_csv(
    'data/long_data.csv', usecols=['date', 'datatype', 'value']
).rename(
    columns={'value': 'temp_C'}
).assign(
    date=lambda x: pd.to_datetime(x.date),
    temp_F=lambda x: (x.temp_C * 9/5) + 32
)
long_df.head()

  datatype       date  temp_C  temp_F
0     TMAX 2018-10-01    21.1   69.98
1     TMIN 2018-10-01     8.9   48.02
2     TOBS 2018-10-01    13.9   57.02
3     TMAX 2018-10-02    23.9   75.02
4     TMIN 2018-10-02    13.9   57.02

In [17]:
stack_df = long_df.stack()

In [21]:
test_df = stack_df.unstack()

In [22]:
test_df.head()

  datatype       date temp_C temp_F
0     TMAX 2018-10-01   21.1  69.98
1     TMIN 2018-10-01    8.9  48.02
2     TOBS 2018-10-01   13.9  57.02
3     TMAX 2018-10-02   23.9  75.02
4     TMIN 2018-10-02   13.9  57.02

In [34]:
pivoted_df = long_df.pivot(
    index='date', columns='datatype', values='temp_C'
)
pivoted_df.head()

datatype    TMAX  TMIN  TOBS
date
2018-10-01  21.1   8.9  13.9
2018-10-02  23.9  13.9  17.2
2018-10-03  25.0  15.6  16.1
2018-10-04  22.8  11.7  11.7
2018-10-05  23.3  11.7  18.9

In [12]:
unstack_df = pivoted_df.unstack()

In [16]:
unstack_df

datatype  date
TMAX      2018-10-01    21.1
          2018-10-02    23.9
          2018-10-03    25.0
          2018-10-04    22.8
          2018-10-05    23.3
                        ...
TOBS      2018-10-27     6.1
          2018-10-28     7.2
          2018-10-29     8.3
          2018-10-30     5.0
          2018-10-31     0.0
Length: 93, dtype: float64

In [23]:
wide_df = pd.read_csv('data/wide_data.csv')

In [24]:
wide_df

          date  TMAX  TMIN  TOBS
0   2018-10-01  21.1   8.9  13.9
1   2018-10-02  23.9  13.9  17.2
2   2018-10-03  25.0  15.6  16.1
3   2018-10-04  22.8  11.7  11.7
4   2018-10-05  23.3  11.7  18.9
5   2018-10-06  20.0  13.3  16.1
6   2018-10-07  20.0  16.1  20.0
7   2018-10-08  26.7  17.8  17.8
8   2018-10-09  18.9  17.2  17.8
9   2018-10-10  24.4  17.2  18.3
10  2018-10-11  26.1  17.8  21.7
11  2018-10-12  22.8  14.4  15.6
12  2018-10-13  15.6   7.2   8.3
13  2018-10-14  13.3   5.6   6.7
14  2018-10-15  13.3   6.7  10.0
15  2018-10-16  18.9   7.8   7.8
16  2018-10-17  13.3   3.3   5.0
17  2018-10-18  16.1   4.4   5.0
18  2018-10-19  10.0  -1.1   0.0
19  2018-10-20  15.0  -0.6  10.6
20  2018-10-21  16.7   7.8   7.8
21  2018-10-22   7.8  -1.1  -1.1
22  2018-10-23  15.6  -1.1  10.0
23  2018-10-24  16.7   4.4   6.7
24  2018-10-25  11.7   2.8   2.8
25  2018-10-26   9.4  -0.6  -0.6
26  2018-10-27   8.9  -0.6   6.1
27  2018-10-28   8.3   5.0   7.2
28  2018-10-29  10.6   6.7   8.3
29  2018-10-30  13.3   2.2   5.0
30  2018-10-31  12.2   0.0   0.0

In [27]:
melted_df = wide_df.melt(
    id_vars='date',
    value_vars=['TMAX', 'TMIN', 'TOBS'],
    value_name='temp_C',
    var_name='measurement'
)
melted_df

          date measurement  temp_C
0   2018-10-01        TMAX    21.1
1   2018-10-02        TMAX    23.9
2   2018-10-03        TMAX    25.0
3   2018-10-04        TMAX    22.8
4   2018-10-05        TMAX    23.3
..         ...         ...     ...
88  2018-10-27        TOBS     6.1
89  2018-10-28        TOBS     7.2
90  2018-10-29        TOBS     8.3
91  2018-10-30        TOBS     5.0
92  2018-10-31        TOBS     0.0

[93 rows x 3 columns]

In [28]:
stack-melt = melted_df.stack()

SyntaxError: ignored

In [29]:
melted_df

          date measurement  temp_C
0   2018-10-01        TMAX    21.1
1   2018-10-02        TMAX    23.9
2   2018-10-03        TMAX    25.0
3   2018-10-04        TMAX    22.8
4   2018-10-05        TMAX    23.3
..         ...         ...     ...
88  2018-10-27        TOBS     6.1
89  2018-10-28        TOBS     7.2
90  2018-10-29        TOBS     8.3
91  2018-10-30        TOBS     5.0
92  2018-10-31        TOBS     0.0

[93 rows x 3 columns]

In [32]:
melted_df.stack()[0:20]

0  date           2018-10-01
   measurement          TMAX
   temp_C               21.1
1  date           2018-10-02
   measurement          TMAX
   temp_C               23.9
2  date           2018-10-03
   measurement          TMAX
   temp_C               25.0
3  date           2018-10-04
   measurement          TMAX
   temp_C               22.8
4  date           2018-10-05
   measurement          TMAX
   temp_C               23.3
5  date           2018-10-06
   measurement          TMAX
   temp_C               20.0
6  date           2018-10-07
   measurement          TMAX
dtype: object

In [35]:
df = pd.read_csv('data/dirty_data.csv')

In [37]:
df.head()

,date,station,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WESF,inclement_weather
0,2018-01-01T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
1,2018-01-01T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
2,2018-01-01T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
3,2018-01-02T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-8.3,-16.1,-12.2,NaN,False
4,2018-01-03T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-4.4,-13.9,-13.3,NaN,False

In [38]:
df.describe()

/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:4009: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)

,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WESF
count,765.000000,577.000000,577.0,765.000000,765.000000,398.000000,11.000000
mean,5.360392,4.202773,NaN,2649.175294,-15.914379,8.632161,16.290909
std,10.002138,25.086077,NaN,2744.156281,24.242849,9.815054,9.489832
min,0.000000,0.000000,-inf,-11.700000,-40.000000,-16.100000,1.800000
25%,0.000000,0.000000,NaN,13.300000,-40.000000,0.150000,8.600000
50%,0.000000,0.000000,NaN,32.800000,-11.100000,8.300000,19.300000
75%,5.800000,0.000000,NaN,5505.000000,6.700000,18.300000,24.900000
max,61.700000,229.000000,inf,5505.000000,23.900000,26.100000,28.700000

In [39]:
contain_nulls = df[
    df.SNOW.isna() | df.SNWD.isna() | df.TOBS.isna()
    | df.WESF.isna() | df.inclement_weather.isna()
]
contain_nulls.shape[0]

765

In [41]:
contain_nulls[0:20]

,date,station,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WESF,inclement_weather
0,2018-01-01T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
1,2018-01-01T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
2,2018-01-01T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
3,2018-01-02T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-8.3,-16.1,-12.2,NaN,False
4,2018-01-03T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-4.4,-13.9,-13.3,NaN,False
5,2018-01-03T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-4.4,-13.9,-13.3,NaN,False
6,2018-01-03T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-4.4,-13.9,-13.3,NaN,False
7,2018-01-04T00:00:00,?,20.6,229.0,inf,5505.0,-40.0,NaN,19.3,True
8,2018-01-04T00:00:00,?,20.6,229.0,inf,5505.0,-40.0,NaN,19.3,True
9,2018-01-05T00:00:00,?,0.3,NaN,NaN,5505.0,-40.0,NaN,NaN,NaN
10,2018-01-05T00:00:00,?,0.3,NaN,NaN,5505.0,-40.0,NaN,NaN,NaN
11,2018-01-05T00:00:00,GHCND:USC00280907,14.2,127.0,inf,-4.4,-13.9,-13.9,NaN,True
12,2018-01-06T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-10.0,-15.6,-15.0,NaN,False
13,2018-01-07T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-11.7,-17.2,-16.1,NaN,False
14,2018-01-07T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
15,2018-01-08T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
16,2018-01-08T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-7.8,-16.7,-8.3,NaN,False
17,2018-01-10T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
18,2018-01-10T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,5.0,-7.8,-7.8,NaN,False
19,2018-01-11T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,4.4,-7.8,1.1,NaN,False

In [42]:
df_deduped = df.drop_duplicates('date')

In [43]:
df_deduped.head()

,date,station,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WESF,inclement_weather
0,2018-01-01T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
3,2018-01-02T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-8.3,-16.1,-12.2,NaN,False
4,2018-01-03T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-4.4,-13.9,-13.3,NaN,False
7,2018-01-04T00:00:00,?,20.6,229.0,inf,5505.0,-40.0,NaN,19.3,True
9,2018-01-05T00:00:00,?,0.3,NaN,NaN,5505.0,-40.0,NaN,NaN,NaN

In [44]:
df.head()

,date,station,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WESF,inclement_weather
0,2018-01-01T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
1,2018-01-01T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
2,2018-01-01T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
3,2018-01-02T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-8.3,-16.1,-12.2,NaN,False
4,2018-01-03T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-4.4,-13.9,-13.3,NaN,False

In [45]:
cd ..

/content/drive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition

In [46]:
cd ch_04

/content/drive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/ch_04

In [47]:
weather = pd.read_csv('data/nyc_weather_2018.csv')
weather.head()

                  date datatype            station attributes  value
0  2018-01-01T00:00:00     PRCP  GHCND:US1CTFR0039       ,,N,    0.0
1  2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0015       ,,N,    0.0
2  2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0015       ,,N,    0.0
3  2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0017       ,,N,    0.0
4  2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0017       ,,N,    0.0

In [69]:
query = weather[weather.station.str.contains('S0007') | weather.datatype == "PRCP"]

In [70]:
snow_data = weather.query('datatype == "PRCP" and value > 0 and station.str.contains("S0007")', engine="python")

In [71]:
snow_data.head()

                     date datatype            station attributes  value
788   2018-01-04T00:00:00     PRCP  GHCND:US1NYNS0007       ,,N,    4.1
1044  2018-01-05T00:00:00     PRCP  GHCND:US1NYNS0007       ,,N,   18.0
1974  2018-01-09T00:00:00     PRCP  GHCND:US1NYNS0007       ,,N,    0.5
2660  2018-01-12T00:00:00     PRCP  GHCND:US1NYNS0007       ,,N,    0.5
2880  2018-01-13T00:00:00     PRCP  GHCND:US1NYNS0007       ,,N,   17.8

In [73]:
df_deduped = weather.drop_duplicates('attributes')
df_deduped

                      date datatype            station attributes  value
0      2018-01-01T00:00:00     PRCP  GHCND:US1CTFR0039       ,,N,    0.0
5      2018-01-01T00:00:00     SNWD  GHCND:US1NJBG0017      T,,N,    0.0
116    2018-01-01T00:00:00     PRCP  GHCND:USC00066655   ,,7,0700    0.0
118    2018-01-01T00:00:00     SNOW  GHCND:USC00280907       ,,7,    0.0
129    2018-01-01T00:00:00     SNWD  GHCND:USC00283704  T,,7,0700    0.0
143    2018-01-01T00:00:00     PRCP  GHCND:USC00308577   ,,7,0800    0.0
149    2018-01-01T00:00:00     AWND  GHCND:USW00014732       ,,W,    7.6
150    2018-01-01T00:00:00     PRCP  GHCND:USW00014732   ,,W,2400    0.0
153    2018-01-01T00:00:00     TAVG  GHCND:USW00014732      H,,S,  -10.8
163    2018-01-01T00:00:00     SNWD  GHCND:USW00014734  T,,W,2400    0.0
830    2018-01-04T00:00:00     SNOW  GHCND:USC00280907      T,,7,    0.0
844    2018-01-04T00:00:00     WESD  GHCND:USC00283704  T,,N,0700    0.0
1155   2018-01-05T00:00:00     PRCP  GHCND:USW00054743      T,,W,    0.0
1496   2018-01-07T00:00:00     SNWD  GHCND:US1NJPS0014      ,I,N,   10.0
1838   2018-01-08T00:00:00     TMAX  GHCND:USW00054743      ,Z,W,    6.7
1911   2018-01-09T00:00:00     SNOW  GHCND:US1NJES0018     T,I,N,    0.0
3394   2018-01-15T00:00:00     TMIN  GHCND:USC00308577  ,G,7,0800  -72.8
6747   2018-01-30T00:00:00     SNOW  GHCND:USC00283704       ,,Z,   13.0
6983   2018-01-31T00:00:00     WESD  GHCND:USC00283704   ,,N,0700    0.0
7437   2018-02-02T00:00:00     PRCP  GHCND:USC00289187  ,Z,7,0700    0.0
11031  2018-02-18T00:00:00     SNOW  GHCND:USC00289187      ,Z,7,    0.0
13175  2018-02-28T00:00:00     PRCP  GHCND:USC00289187   ,,Z,0700    0.0
18496  2018-03-23T00:00:00     DAPR  GHCND:US1NYNS0018      ,L,N,    2.0
47879  2018-08-09T00:00:00     PRCP  GHCND:USC00284987   ,,7,0630    0.0
56303  2018-09-18T00:00:00     PRCP  GHCND:USC00284987  T,,7,0630    0.0
73197  2018-12-06T00:00:00     TMIN  GHCND:USW00094745  ,S,W,2400  -15.5